name: 04-buildandexecute

on:
  push:
  workflow_dispatch:

env:
  FILE_NAME: automate-actions

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1

      - name: Setup java8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
          check-latest: true

      - name: List java and maven version
        run: |
          java -version
          mvn -v

      - name: Build ${{ env.FILE_NAME }}
        run: mvn clean install

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.FILE_NAME }}
          path: ./target/${{ env.FILE_NAME }}.jar
          if-no-files-found: error
