name: 04-buildandexecute

on:
  push:
  workflow_dispatch:

env:
  FILE_NAME: automate-actions

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: 01-Check out code
        uses: actions/checkout@v2

      - name: 02-Setup java8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
          check-latest: true

      - name: 03-List java and maven version
        run: |
          java -version
          mvn -v

      - name: 04-Build ${{ env.FILE_NAME }}
        run: mvn clean install

      - name: 05-Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.FILE_NAME }}
          path: ./target/${{ env.FILE_NAME }}.jar
          if-no-files-found: error

  execute:
    name: Execute
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: 01-Check out code
        uses: actions/checkout@v2

      - name: 02-Setup java8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
          check-latest: true

      - name: 03-Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.FILE_NAME }}
          path: ./artifacts

      - name: 04-List files
        run: ls -ltr
        working-directory: ./artifacts

      - name: 05-Execute the artifact
        run: java -jar ${{ env.FILE_NAME }}.jar
        working-directory: ./artifacts

      - name: 06-Check outcome
        run: curl http://localhost:8081/check?url=http://googgle.com
